<head>
</head>
<body>
<div class="spottrHeader">
  <%=image_tag "Spottr_Bullseye_white.png", class: "toolbarIcon"%>
</div>
<div class="contentContainer">
  <div class="loginCard card">
      <h4>Login</h4>
      <%= form_tag '/login' do %>
      Username:<br />
      <%= text_field_tag :username %><br />
      Password:<br />
      <%= password_field_tag :password %><br />
      <%= submit_tag "Submit", class:'bigButton loginButton' %>
  </div>
</div>
<%= link_to "Sign Up", users_new_path, class:"navButton leftNav" %>
<%= link_to "Back", root_path, class:"navButton rightNav" %>
<% end %>
</body>
