<head>
</head>
<body>

<div class="spottrHeader">
  <%= image_tag "Spottr_Bullseye_white.png", class:"toolbarIcon"%>
</div>
<div class="contentContainer">
  <div class="userCard">
    <h4 class="card-title">Sign Up!</h4>
    <%= form_for :user, url: '/users' do |f| %>
    <div class="form">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>

    <div class="form">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>

    <div class="form">
      <%= f.label :username %><br />
      <%= f.text_field :username %>
    </div>

    <div class="form">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>

    <div class="form">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="signupSubmit">
      <%= f.submit "Sign Up", class:'bigButton signupButton'%>
    </div>
    <% end %>
  </div>
</div>

<%= link_to "Back", root_path, class: 'navButton leftNav' %>
<%= link_to "Login", sessions_new_path, class:'navButton rightNav' %>
</body>
</center>
