<head>
</head>
<body>

<div class="spottrHeader">
  <%= link_to (image_tag "Spottr_Bullseye_white.png", class:"userlogoIcon spottrLogo"), root_path%>
</div>

<div class="contentContainer">
  <div class="userCard">
    <h4 class="card-title">Sign Up!</h4>
    <%= form_with(model: @user, local: true) do |f| %>
    <% if @user.errors.any? %>
      <div class="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>

    <div class="form">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>

    <div class="form">
      <%= f.label :username %><br />
      <%= f.text_field :username %>
    </div>

    <div class="form">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>

    <div class="form">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="signupSubmit">
      <%= f.submit "Sign Up", class:'bigButton signupButton uiButtons'%>
    </div>
    <% end %>
  </div>
</div>

<%= link_to "Back", root_path, class: 'navButton leftNav uiButtons' %>
<%= link_to "Login", sessions_new_path, class:'navButton rightNav uiButtons' %>
</body>
</center>
