<div class="spottrHeader">
  <%= link_to (image_tag "Spottr_Bullseye_white.png", class:"userlogoIcon spottrLogo"), root_path%>
</div>
<div class="contentContainer">
  <div class="userCard">
    <span class="cardHeader">
      User Profile
    </span>
    <%= form_with(model: current_user) do |u| %>
    <span class="profileHeaders">Username</span>
    <span class="username profileContent">
      <%= u.object.username %>
    </span>
    <% end %>
    <span class="profileHeaders">Karma Points</span>
    <span class="userPoints profileContent"><%= current_user.points %><br>
    <span class="profileHeaders">Badges</span>
    <% first_pin.each do | badge |%>
    <ul><span class="badges profileContent"><%= badge %></span></ul>
    <% end %>
  </div>
</div>
<div class="footer">
  <%= link_to "Start Spotting", spots_path, class:'navButton startButton uiButtons' %>
  <%= link_to 'Logout', '/logout', class:'navButton logoutButton uiButtons' %>
</div>
