<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "welcome" %>
    <meta charset="utf-8">
    <title>Spottr</title>
  </head>

<body>
<div class="spottrHeader">
  <%= link_to (image_tag "Spottr_Bullseye_white.png",class:"userlogoIcon spottrLogo"), {controller:"users", action:"show"}%>
</div>
<div class="contentContainer">
  <div class="welcomeCard">
    <h4 class="welcome">Welcome To Spottr</h4>
    <%= link_to (image_tag "Spottr_Bullseye_white.png", class: "spottrIcon"), {controller:"users", action:"show"}%>
  </div>
</div>

<%= link_to "Login", sessions_new_path, class:'navButton leftNav uiButtons' %>
<%= link_to "Sign Up", users_new_path, class:'navButton rightNav uiButtons' %>




</body>
</html>
