<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "welcome" %>
    <meta charset="utf-8">
    <title>Spottr</title>
  </head>

<body>
<div class="spottrHeader"><%= image_tag "Spottr_Bullseye_white.png", class:"toolbarIcon"%></div>
<div class="contentContainer">
  <div class="welcomeCard">
    <h4 class="welcome">Welcome To Spottr</h4>
    <%= image_tag "Spottr_Bullseye_white.png", class: "spottrIcon"%>
  </div>
</div>

<%= link_to "Login", sessions_new_path, class:'navButton leftNav' %>
<%= link_to "Sign Up", users_new_path, class:'navButton rightNav' %>




</body>
</html>
